{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}
{% block title %}The Crypt - {{ game.name }}{% endblock %}

{% block body %}
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full"
    style="background-image: url('{% static 'img/neon-tropical-monstera-leaf-banner.jpg' %}')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{% static 'img/logga.png' %}" alt="Slottsmysterier" />
        <h1 class="text-white fs-3 fw-bolder">The Crypt - {{ game.name }}</h1>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <h2>Mysterium: {{ game.name }}</h2>
                <a href="{% url 'chat_index' game.id %}" class="btn btn-primary">Chat</a>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
