{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}
{% block title %}The Crypt - Mysterium{% endblock %}

{% block body %}
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full"
    style="background-image: url('{% static 'img/neon-tropical-monstera-leaf-banner.jpg' %}')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{% static 'img/logga.png' %}" alt="Slottsmysterier" />
        <h1 class="text-white fs-3 fw-bolder">The Crypt</h1>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Mysterium att välja på</h2>

                {% for game in games %}
                <p class="lead">
                  {{game}} start: {{game.start_time}}
                  <a href="{% url 'game_index' game.id %}" class="btn btn-primary">Delta</a>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock body %}

