{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}
{% block title %}The Crypt - Delta i {{game.name}}{% endblock %}

{% block body %}
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full"
    style="background-image: url('{% static 'img/neon-tropical-monstera-leaf-banner.jpg' %}')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{% static 'img/logga.png' %}" alt="Slottsmysterier" />
        <h1 class="text-white fs-3 fw-bolder">The Crypt</h1>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Delta i mysterium: {{game.name}}</h2>
                <form method="post" enctype="multipart/form-data">
                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <small>{{ error }}</small>
                    {% endfor %}
                  {% endif %}
                  {% csrf_token %}
                  {% bootstrap_form form %}

                  <div class="text-center">
                    {% bootstrap_button "Delta" button_type="submit" %}
                  </div>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock body %}


