{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}
{% block title %}The Crypt - Chat{% endblock %}
{% block bootstrap5_extra_head %}
<style type="text/css">
    textarea{
      overflow: scroll;
    }

    .min-vh-88 {
        min-height: 88vh!important;
    }
</style>

{% endblock %}
{% block body %}
<!-- Content section-->

<!-- Header - set the background image for the header in the line below-->
<header class="pt-5 bg-image-full"
    style="background-image: url('{% static 'img/neon-tropical-monstera-leaf-banner.jpg' %}')">
    <div class="text-left my-3 ">
        <h5 class="text-white mx-3 ">I rum: {{ room.name }}</h5>
    </div>
</header>
<div class="container-fluid">
    <div class="min-vh-88 mb-5 form-group flex-grow-1 d-flex flex-column">
        <textarea class="border border-info form-control flex-grow-1 pb-5" rows="10" id="chatLog" readonly></textarea>
    </div>
</div>
<div class="container-fluid fixed-bottom">
     <div class="col input-group">
        <input type="text" class="form-control" id="chatMessageInput" placeholder="Enter your chat message">
        <div class="input-group-append">
            <button class="btn btn-success" id="chatMessageSend" type="button">Send</button>
        </div>
    </div>
</div>
{{ room.name|json_script:"roomName" }}
{{ game.id|json_script:"gameId" }}
<script src="{% static 'room.js' %}"></script>
{% endblock body %}
